*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif Gotham Rounded,
    sans-serif;
  font-weight: normal;
}
body {
  background: url(/images/wintry-g9795407c8_1920.jpg);
}
header {
  height: 60px;
  display: grid;
  position: relative;
  /*border: solid red 1px;*/
  /*background: rgb(3, 58, 40);*/
  color: rgb(65, 61, 61);
  padding-left: 10px;
  grid-template-columns: 60% 20% 20%;
  margin-bottom: 20px;
  box-shadow: #0089ff -1px 1px 17px 0px;
  border-radius: 10px;
}

.btn {
  position: relative;
  height: 30px;
  width: 80px;
  align-items: center;
  top: 10px;
  /*margin: 20px;*/
  background: rgb(150, 190, 216);
  border-radius: 10px;
}
.btn-click {
  box-shadow: #0089ff -1px 1px 17px 0px;
  border-radius: 50px;
}
header a {
  position: relative;
  top: 15px;
}
.btn:hover {
  background: rgb(6, 212, 248);
  color: white;
  transition: 0.2s;
}
.animation-grid {
  position: relative;
  /*border: solid rgb(76, 0, 255) 1px;*/
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.animation-grid video {
  /*border: solid rgb(255, 0, 0) 1px;*/
  text-align: center;
  box-shadow: #6a7279 -1px 1px 6px 1px;;
}
.animation-border {
  position: relative;
  /* border: solid rgb(251, 255, 0) 1px;*/
}
footer {
  display: grid;
  position: relative;
  /* border: solid red 1px;*/
  background: url(/images/wintry-g9795407c8_1920.jpg);
  color: rgb(3, 33, 44);
  padding-left: 10px;
  padding-top: 10px;
  grid-template-columns: 70% 30%;
  font-size: 18px;
  font-weight: bold;
  box-shadow: #0089ff -1px 1px 17px 0px;
  border-radius: 10px;
  margin-top: 20px;
}
footer p {
  font-size: 16px;
  font-family: monospace;
  color: rgb(3, 2, 15);
  
}
footer span:hover { 
  color: aqua;
}

footer p:hover { 
  color: aqua;
}
