*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif Gotham Rounded,
    sans-serif;
  font-weight: normal;
}
body {
  background: url(/images/wintry-g9795407c8_1920.jpg);
}
header {
  height: 60px;
  display: grid;
  position: relative;
  /*border: solid red 1px;*/
  /*background: rgb(3, 58, 40);*/
  color: rgb(65, 61, 61);
  padding-left: 10px;
  grid-template-columns: 60% 20% 20%;
  margin-bottom: 20px;
  box-shadow: #0089ff -1px 1px 17px 0px;
  border-radius: 10px;
}

#uqtr {
  background: #81a7c9;
  width: 80px;
  height: 50px;
  border-radius: 10px;
  padding-left: 15px;
  margin-top: 5px;
}
#uqtr :hover {
  box-shadow: #0089ff -1px 1px 20px 7px;
}
.btn {
  position: relative;
  height: 30px;
  width: 80px;
  align-items: center;
  top: 10px;
  /*margin: 20px;*/
  background: rgb(150, 190, 216);
  border-radius: 10px;
}
.btn-click {
  box-shadow: #0089ff -1px 1px 17px 0px;
  border-radius: 50px;
}
header a {
  position: relative;
  top: 15px;
}
.btn:hover {
  background: rgb(6, 212, 248);
  color: white;
  transition: 0.2s;
}

#searchbar {
  margin-left: 15%;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
}

input[type="text"] {
  width: 30%;
  -webkit-transition: width 0.15s ease-in-out;
  transition: width 0.15s ease-in-out;
}

input[type="text"]:focus {
  width: 70%;
}

#list {
  font-size: 1.5em;
  margin-right: 15px;
  list-style: none;
}

.activities {
  display: list-item;
  display: grid;
  background: #73919b;
  color: black;
  margin-top: 25px;
  border-radius: 10px;
  padding: 10px;
}

.animation-grid {
  position: relative;
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.animation-grid video {
  text-align: center;
  box-shadow: #6a7279 -1px 1px 6px 1px;
}
.animation-border {
  position: relative;
}

.activities-visibility {
  visibility: hidden;
}

.desc-adress {
  display: grid;
  grid-template-columns: 90% 10%;
  font-size: medium;
  font-family: cursive;
}
#description {
  padding-right: 10px;
  padding-bottom: 15px;
}
.play-pause-trash {
  position: relative;
  display: grid;
  grid-template-columns: 20% 80%;
}
.play-pause-trash button {
  position: relative;

  width: 50px;
  left: 400px;
  background: #6a7279;
  border-radius: 15px;
}

footer {
  display: grid;
  position: relative;
  background: url(/images/wintry-g9795407c8_1920.jpg);
  color: rgb(3, 33, 44);
  padding-left: 10px;
  padding-top: 10px;
  grid-template-columns: 70% 30%;
  font-size: 18px;
  font-weight: bold;
  box-shadow: #0089ff -1px 1px 17px 0px;
  border-radius: 10px;
  margin-top: 20px;
}

footer p {
  font-size: 16px;
  font-family: monospace;
  color: rgb(3, 2, 15);
}
footer span:hover {
  color: aqua;
}

footer p:hover {
  color: aqua;
}

@media screen and (max-width: 1515px) {
  .desc-adress {
    grid-template-columns: 85% 15%;
  }
}
@media screen and (max-width: 1330px) {
  .desc-adress {
    grid-template-columns: 80% 20%;
  }
}
@media screen and (max-width: 800px) {
  .desc-adress {
    grid-template-columns: 75% 25%;
  }
  .play-pause-trash {
    grid-template-columns: 10% 50%;
  }
  .play-pause-trash button {
    position: relative;
  }
}
@media screen and (max-width: 660px) {
  .desc-adress {
    display: block;
  }

  .play-pause-trash button {
    left: 125px;
  }
}
@media screen and (max-width: 300px) {
  h2 {
    font-size: 25px;
  }
  .play-pause-trash button {
    left: 80px;
  }
}
